APP_ENV=dev
LOG_LEVEL=INFO
RATE_LIMIT=20/minute
CACHE_TTL_SECONDS=300
MAX_RETRIES=3

# LLM api key
GROQ_API_KEY=your_groq_key

# langfuse keys
LANGFUSE_SECRET_KEY=secret_key
LANGFUSE_PUBLIC_KEY=public_key
LANGFUSE_BASE_URL=http://localhost:3000

DATABASE_URL=postgresql+psycopg://<username>:<password>@<ip-address/hostname>:<port>/<database_name>

#   Character	Percent Encoding	Used For
#   #	%23	Anchor/fragment identifier (creates URL fragments like #section)
#   $	%24	Dollar sign (often used in query parameters or database URIs)
#   &	%26	Separates query parameters
#   %   %25 percent sign
#   ?	%3F	Starts query string
#   =	%3D	Separates parameter names from values
#   /	%2F	Path separator (encoded when it shouldn't be treated as a path)
#   space	%20	Space character
#   +	%2B	Plus sign
