# Auto detect text files and normalize line endings to LF
* text=auto

# Source code
*.js text eol=lf
*.ts text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.java text eol=lf
*.rb text eol=lf
*.go text eol=lf
*.sh text eol=lf
*.css text eol=lf
*.html text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitignore text eol=lf
.editorconfig text eol=lf
.tomal text eol=lf
.lock text eol=lf

# Images and other text-like files
*.svg text eol=lf

# Windows-specific files (keep CRLF)
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.otf binary
*.db binary
*.sqlite binary
